@layer reset, base, tokens, recipes, utilities;

:root {
  --font-family-ibm-plex-sans-condensed: "IBM Plex Sans Condensed", sans-serif;
  --font-family-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --font-family-source-code-pro: "Source Code Pro", monospace;
}
